@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  font-family: Poppins, sans-serif;
  height: 100vh;
  font-size: 1.5rem;
}

.container {
  height: 80vh;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.wrapper {
  display: grid;
  height: 500px;
  width: 400px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.btn {
  display: grid;
  border: 1px solid lightgrey;
  place-content: center;
  background-color: #e0e0e0;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.screen {
  flex: 1;
  grid-column: 1/-1;
  color: white;
  text-align: end;
  place-content: center;
  font-size: 2rem;
  overflow: hidden;
  background-color: #848693;
}

.btn:hover {
  background-color: grey;
}

.light-gray {
  background-color: #e0e0e0;
  color: black;
}

.light-gray:hover {
  background-color: white;
}

.orange {
  background-color: #f5903e;
}

.orange:hover {
  background-color: white;
  color: #f5903e;
}

.zero {
  grid-column: 1 / span 2;
  place-content: unset;
  align-items: center;
  padding-left: 2rem;
}

.screen > div {
  margin-top: 30px;
  margin-right: 4px;
}

.span-two {
  grid-column: span 2;
}

.quote {
  font-weight: bold;
  margin-right: 3rem;
  width: 400px;
}
